body {
    background-color: #26413c;
    color: #1A7F69;
    align-content: center 
}
p{
    color: #7CAE7A;
    text-align: center;
    font-size: 55px
}

table {
    border-color:  #1A1D1A;
    border-style: double;
}
tr {
    border-color: #1A1D1A;
    border-style: double; 
}
td {
    border-color: #1A1D1A;
    border-style: double;
    align-items: center;
    padding: 40px;
    font-size: 30px;
    text-align: center
}
th {
    border-color: #1A1D1A;
    border-style: double;
    align-items: center;
    width: 20%;
    padding: 10px;
    font-size: 20px
}
a:link {
    color: #7CAE7A;
    text-decoration: none;
    align-content: center 
  }
  a:visited {
    color: #7CAE7A;
    text-decoration: none;
    align-content: center
  }
a:active {
    color: #7CAE7A;
    text-decoration: none;
    align-content: center
  }
