body {
    background-color: #26413c;
    color: #1A7F69    
}

table {
    border-color:  #1A1D1A;
    border-style: double;
}








#1A1D1A #Eerie Black

#7CAE7A #Iguana Green

#0F6D35 #La Salle Green
